*::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.inline_block {
    display: inline-block;
}

.inline_flex {
    display: inline-flex;
}

#products_container {
    margin-left: 15%;
    margin-right: 15%;
}

.product_div {
    cursor: pointer;
    width: 26%;
    border-radius: 10px;
    min-height: 500px;
    min-width: 256px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(31, 31, 31);
}

.product_div:hover {
    filter: brightness(0.8);
    transition: all 0.2s;
}

.product_img {
    border-radius: 20px;
    width: 100%;
}

.product_price {
    color: aqua;
    display: block;
    font-weight: bolder;
    font-size: 20px;
    display: inline-block;
}

.product_sales {
    display: block;
    float: right;
    letter-spacing: 0.1em;
    color: rgb(211, 211, 211);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.product_title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    color: rgb(211, 211, 211);
    display: block;
    font-size: 20px;
}

.product_a {
    text-decoration: none;
    color: initial;
    user-select: none;
}

.view_product {
    background-color: rgb(0, 110, 110);
    color: white;
    border: 0px;
    font-size: 26px;
    padding: 6px;
    margin-top: auto;
    width: 100%;
}

.price_tag {
    display: none;
    visibility: hidden;
}

.price_tag_low {
    display: none;
    visibility: hidden;
}

.price_tag_high {
    display: none;
    visibility: hidden;
}

#navbar {
    margin-top: 10px;
    position: fixed;
    width: 80%;
    left: 10%;
    height: 80px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(31, 31, 31);
    z-index: 100;
}

#standoff {
    height: 100px;
}

#navbar_favicon {
    margin-top: 8px;
    margin-left: 10px;
}

#logo {
    display: inline-block;
}

#navbar_right {
    display: inline-block;
    position: absolute;
    right: 0;
}

#navbar_left {
    display: inline-block;
}

#agent_selector {
    margin-right: 20px;
    margin-top: 24px;
    font-size: 26px;
    background-color: rgb(87, 87, 87);
    color: rgb(211, 211, 211);
    border: 0;
}

#currency_selector {
    font-size: 22px;
    margin-right: 20px;
    background-color: rgb(87, 87, 87);
    color: rgb(211, 211, 211);
    border: 0;
}

#navbar_left {
    position: absolute;
    top: 0;
    height: 100%;
}

#search_div {
    margin-top: 20px;
    margin-left: 20px;
    width: 450px;
    height: 100%;
}

#search {
    border: 0;
    background-color: rgb(87, 87, 87);
    color:rgb(211, 211, 211);
    font-size: 15px;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    height: 30px;
}

#sort_by_sales {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(211, 211, 211);
    cursor: pointer;
}

#sort_by_price {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: rgb(211, 211, 211);
    cursor: pointer;
}

#product_inspect {
    display: none;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-left: auto;
    background-color: rgb(87, 87, 87);
    position: fixed;
    transform: translate(5%, 5%);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 100000;
}

#product_inspect_images {
    margin-top: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    overflow-y: scroll;
    display: inline-block;
    flex-wrap: wrap;
}

#product_inspect_images > img {
    width: 25%;
}

#close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    color: aliceblue;
}

#blocker {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
}

#loading-spinner {
    position: fixed;
    top: 84%;
    left: calc(50% - 50px);
    rotate: 10;
    font-size: 50px;
    text-align: center;
    display: none;
    color: white;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

body {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(19, 19, 19);
    margin: 0;
    padding: 0;
}