html {
    background-color: rgb(19, 19, 19);
}

#navigation {
    display: block;
    top: 10px;
    position: fixed;
    width: 95%;
    max-width: 2000px;
    border-radius: 25px;
    min-height: 50px;
    background-color: rgb(31, 31, 31);
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    gap: 0;
    row-gap: 10px;
    padding-bottom: 10px;
}

#header-spacing {
    height: 80px;
}

#favicon-a {
    height: 48px;
    flex: 0;
}
#favicon-a > img {
    border-radius: 10px;
}

#search {
    height: 32px;
    font-size: 16px;
    flex: 1;
    margin-left: 10px;
    background-color: rgb(87, 87, 87);
    box-shadow: 0;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}
#picture-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.item-img {
    width: 256px;
}

.no-images-txt {
    font-size: 22px;
    color: white;
}

#loading-spinner {
    position: fixed;
    top: 84%;
    left: calc(50% - 50px);
    rotate: 10;
    font-size: 50px;
    text-align: center;
    display: none;
    color: white;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}