html {
    background-color: rgb(19, 19, 19);
}

*:not(body):-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-color: rgb(87, 87, 87) transparent;
    scrollbar-arrow-color: transparent;
}
:root {
    --text-color: white;
    --light-blue: rgb(50, 210, 255);
}

span {
    font-weight: bold;
    color: var(--text-color);
}
.high-lighted-product {
    border: 1px solid rgb(50, 210, 255);
    background-color: rgb(27, 29, 29);
}

.no-display {
    display: none;
}

#product-container {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 18px;
}

.product-div {
    display: flex;
    flex-direction: column;
    height: 650px;
    border-radius: 12px;
    max-width: 500px;
    flex: 1;
}
.product-div:not(.high-lighted-product) {
    border: 2px solid black;
    background-color: rgb(31, 31, 31);
}

.item-description {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: grab;
}
.main-price, .low-price, .high-price {
    display: none;
}

.product-image-div {
    margin-top: 5px;
    align-self: center;
}
.product-img {
    border-radius: 20px;
}
.item-info {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: 10px;
    gap: 10px;
}
.item-title-div  {
    margin-left: auto;
    margin-right: auto;
}
.item-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}
.item-view {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
    justify-content: space-evenly;
    width: calc(100% - 20px);
    background-color: var(--light-blue);
    border-radius: 20px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    color: var(--text-color);;
    width: 100%;
    max-width: 300px;
    align-self: center;
    border: 0;
    cursor: pointer;
}
.item-link {
    color: var(--light-blue);
    font-size: 21px;
    text-decoration: none;
    font-weight: bold;
}
.item-link:hover {
    text-decoration: underline;
}
.item-price {
    color: var(--light-blue);
    font-size: 21px;
}
.item-sales {
    color: var(--text-color);
    font-size: 21px;
}

#navigation {
    display: block;
    top: 10px;
    position: fixed;
    width: 95%;
    max-width: 2000px;
    border-radius: 25px;
    min-height: 60px;
    background-color: rgb(31, 31, 31);
    border: 2px solid black;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    gap: 0;
    row-gap: 10px;
    padding-bottom: 10px;
}

#nav-left {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#nav-right {
    width: 32%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
#nav-right > select {
    height: 32px;
    background-color: rgb(87, 87, 87);
    color: white;
    font-size: 18px;
    flex: 1;
}
select[name="sorting"] {
    width: 32px;
}

#favicon-a {
    height: 48px;
    flex: 0;
}
#favicon-a > img {
    border-radius: 10px;
}

#header-spacing {
    height: 80px;
}

#text-search {
    height: 32px;
    font-size: 16px;
    flex: 1;
    margin-left: 10px;
    background-color: rgb(87, 87, 87);
    box-shadow: 0;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
}
#upload-image-btn {
    border: 0;
    border-radius: 12px;
    background-color: transparent;
    height: 48px;
    width: 64px;
    padding: 0;
    margin-left: 10px;
}
#upload-image-btn:hover {
    background-color: rgb(19, 19, 19);
}
#upload-image-input {
    display: none;
}
#upload-img {
    height: 32px;
    flex: 0;
    filter: invert(1);
}

#input-blocker {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

#product-inspect {
    display: none;
    width: 90%;
    height: 90%;
    margin-top: auto;
    margin-left: auto;
    background-color: rgb(31, 31, 31);
    position: fixed;
    top: 0;
    transform: translate(5%, 5%);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    z-index: 100000;
    padding: 15px;
}

#product-inspect-images {
    display: flex;
    overflow-y: scroll;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: 100%;
    gap: 10px;
}

#product-inspect-x {
    display: none;
    position: fixed;
    top: 3px;
    right: 3px;
    font-size: 28px;
    cursor: pointer;
}

.inspect-image {
    object-fit: cover;
    width: 20%;
    flex: 1;
}

#exchange_rates_attribution {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, 0.9);
    padding: 5px;
    border-radius: 5px;
}
#exchange_rates_link {
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

#settings-button {
    background: transparent;
    border: 0;
}

#settings-img {
    filter: invert(1);
}
#settings-button:hover > #settings-img {
    filter: invert(0.8);
}

#settings-popup {
    display: none;
    position:absolute;
    right: 10px;
    border: 2px solid black;
    background-color: rgb(31, 31, 31);
}

#settings-window {
    display: flex;
    flex-direction: column;
}

#apply-settings-button {
    background-color: var(--light-blue);
    box-shadow: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1100px){
    .inspect-image {
        width: 30%;
        flex: 1;
    }
}
@media (max-width: 600px){
    .inspect-image {
        width: 45%;
        flex: 1;
    }
}
@media (max-width: 300px){
    .inspect-image {
        width: 95%;
        flex: 1;
    }
}

#loading-spinner {
    position: fixed;
    top: 84%;
    left: calc(50% - 50px);
    rotate: 10;
    font-size: 50px;
    text-align: center;
    display: none;
    color: white;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}